<div ng-controller="BackOfficeContentBlocker.EditorManager.ContentEditController">

    <umb-load-indicator ng-if="page.loading"></umb-load-indicator>

    <umb-editor-view ng-if="!page.loading" umb-tabs>

        <h1>
            Page Currently Blocked
        </h1>

        <h2>
            This node is currently being edited by another user
        </h2>

        <p>
            Please contact the user ($userCurrentlyEditing) to allow you access or reload the page to try again
        </p>

        <umb-editor-footer>

            <umb-editor-footer-content-right>

                <umb-button type="button"
                            label="Reload Page"
                            action="reload()">
                </umb-button>

            </umb-editor-footer-content-right>

        </umb-editor-footer>

    </umb-editor-view>
</div>